<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THE QUIZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  </head>
  <body background="{{ url_for('static', filename='dark-bg.jpg') }}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">NERDINESS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('quesupload') }}">Question Add</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('leaderboard') }}">Leaderboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('register') }}">Register</a>
            </li>
            {% endif %}
          </ul>
          {% if current_user.is_authenticated %}
            <h5 class="text-white">Score : {{current_user.points}}</h5>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="content text-white">
      {% for mess in get_flashed_messages() %}
      <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{mess}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
      {% endfor %}

      {% block content %}


     {% endblock %}
    </div>
    <footer class="footer text-center bg-danger text-white">
        <span>Made with love <span style="font-size:125%;color:cyan;">&hearts;</span> by Innovac Team 2021</p></span>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function() {
          $('body').bind('cut copy', function(e) {
              e.preventDefault();
            });
        });

        $(document).ready(function() {
            $("body").on("contextmenu", function(e) {
                return false;
              });
          });
    </script>
  </body>
</html>
