{% extends "base.html" %}
{% block content %}
  <div class="text-center text-white">
    <h1>Instructions</h1>
  </div>
  <div class="text-white" style="margin-top:4%">
    <h3> How to Play </h3>
    <p>1. There are 4 options in each questionof which only one is correct for the given question. You have to click on the correct answer to submit it as your answer.</p>
    <p>2. There 2 die and their sum total is the points for the current question. If you give correct answer these many points will be added to your score otherwise these many poins will be deducted from the total score.</p>
    <p>3. You can roll the dice for getting a suitable points for that question.</p>
    <p>4. Each dice roll costs 1 point. You are given 20 points free at start.</p>
    <p>5. You have only 20 minutes to attempt the quiz after which you will not be able to access questions.</p>
    <p>6. There is no option to skip a question.</p>
  </div>
  <div class="text-white" style="margin-top:4%">
    <h3> Rules </h3>
    <p>1. You can register only once.</p>
    <p>2. Discussion of answers in any platform between the contestents is prohibited and will lead to the disqualification from the whole Innovac Event.</p>
    <p>3. You are not allowed to switch tabs while attempting the quiz. Repeated action will kick you out of the quiz straight away.</p>
    <p>4. The decision of the quiz organizers will be final and binding.</p>
  </div>
  <div class="text-white" style="margin-top:4%">
    <h3> Judgement Criteria </h3>
    <p>1. The person scoring highest points will be the winner of the game.</p>
    <p>2. Tie will be resolved by the number of questions the person has attempted. Person with more attempts will be given higher position.</p>
    <p>3. If there is still a tie then the time taken to reach that score will be used to break the tie.</p>
  </div>
  <div class="text-white" style="margin-top:4%">
    <h3> Tips for Quiz </h3>
    <p>1. If you are sure about an answer then you can try rolling the dice to maximize the points you score.</p>
    <p>2. If you don't know the score then you can minimize your losses by rolling the dice to play the question for lesser points.</p>
    <p>3. The dice roll every time the page refreshes so don't leave the quiz page resulting in a point deduction when you come back.</p>
  </div>
{% endblock %}
